* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: whitesmoke;
}


div {
    background: white;
    width: 300px;
    height: 470px;
    border-radius: 10px;
    box-shadow: 6px 6px 6px 6px gainsboro;
    
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}


input {
    width: 270px;
    margin-top: 20px;
    margin-left: 13px;
    margin-bottom: 20px;
    height: 50px;
    border: 3px solid gainsboro;
    border-radius: 5px;
    padding: 20px;
    font-size: 30px;
}

button {
    box-shadow: inset 1px 1px 1px #fff,
                      1px 1px 1px rgba(0, 0, 0, .16);
    background-color: gainsboro;
    border: none;
    border-radius: 10%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin: 10px;
    font-weight: bolder;
    font-size: 20px;
}
.equality {
    width: 120px;
    border-radius: 5%;
    box-shadow: inset 1px 1px 1px #fff,
                      1px 1px 1px rgba(0, 0, 0, .16);
    background-color: gainsboro;
} 

.down {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    padding: 10px;
    background: rgb(49, 175, 233);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.download-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.down i {
    padding: 5px;
}

.download-section a {
    text-decoration: none;
}